services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - composer-cache:/root/.composer/cache
    working_dir: /app
    environment:
      - COMPOSER_ALLOW_SUPERUSER=1

volumes:
  composer-cache:
