services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - composer-cache:/home/php/.composer/cache
    working_dir: /app

volumes:
  composer-cache:
